@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500&display=swap');


body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  /* overflow: auto; */
}